[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git

[submodule "hugo-theme-hello-friend"]
	path = hugo-theme-hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend
